<mat-card>Signos vitales</mat-card>

<form class="example-container" [formGroup]="formularioSignos" (ngSubmit)="operarSigno()">

  <div [hidden]="true">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="ID" formControlName="id_signo" required>
    </mat-form-field>
  </div>

  <mat-form-field>
    <input type="text" placeholder="Paciente" matInput [matAutocomplete]="autoPaciente"
      [formControl]="miControlPaciente" formControlName="paciente" required>

    <mat-autocomplete #autoPaciente="matAutocomplete" [displayWith]="mostrarPacienteFiltradoySeleccionado"
      (optionSelected)="seleccionarPaciente($event)">
      <mat-option *ngFor="let p of pacientesFiltrados | async" [value]="p">
        {{ p.nombres }} {{p.apellidos}}
      </mat-option>
    </mat-autocomplete>
    
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Escoge una fecha" [max]="maxFecha" formControlName="fecha" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Temperatura" formControlName="temperatura" required>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Pulso" formControlName="pulso" required>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Ritmo respiratorio" formControlName="ritmo_respiratorio" required>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="!formularioSignos.valid">
    <mat-icon>done</mat-icon>
    <span>Aceptar</span>
  </button>
  <button mat-raised-button color="accent" routerLink='/signo' type="button">
    <mat-icon>close</mat-icon>
    <span>Cancelar</span>
  </button>
</form>